.clear:after{
	height: 0;
	content: '.';
	clear: both;
	visibility: hidden;
	display: block;
}
.clear{
	zoom: 1;
}
.fl{
	float: left;
}
.fr{
	float: right;
}

#mpassword-page .mpasswordlist{
	width: 100%;
	padding: 20px 10%;
}
#mpassword-page .mpasswordlist li{
	width: 100%;
	height: 50px;
	margin-bottom: 20px;
	position: relative;
}
#mpassword-page .mpasswordlist li p{
	position: absolute;
	top: 42px;
	color: red;
}
#mpassword-page .mpasswordlist li:nth-child(4){
	margin-top: 30px;
}
#mpassword-page .mpasswordlist li input{
	height: 100%;
	width: 100%;
	padding: 14px 5px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
#mpassword-page .preserved{
	width: 100%;
	text-align: center;
	height: 100%;
	color: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#6eb92b), to(#6eb92b)) ;
}
