ul{overflow:hidden}
.product-list li {width: 50%; float:left;height:220px;}
.product-list img { height: 120px; width:120px;margin:15% 15% 0 15%;border:2px solid #cccccc;}
.product-list .tit {margin-top:10px;width:100%;height:15px;line-height:15px;text-align: center;font-size:12px;overflow:hidden}
.product-list .new-price{margin-top:10px;width:50%;height:15px;line-height:15px;text-align: center;font-size:12px; float:left;color:red;}
.product-list .old-price{margin-top:10px;width:50%;height:15px;line-height:15px;text-align: center;font-size:12px; float:left}